{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block body %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-body p-4">
                    <h3 class="mb-4 fw-bold">Change Password</h3>

                    <form method="POST">
                        {{ form.hidden_tag() }}

                        <div class="mb-3">
                            <label class="form-label">{{ form.current_password.label }}</label>
                            {{ form.current_password(class="form-control") }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">{{ form.new_password.label }}</label>
                            {{ form.new_password(class="form-control") }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">{{ form.confirm_new_password.label }}</label>
                            {{ form.confirm_new_password(class="form-control") }}
                        </div>

                        <div class="d-grid mt-4">
                            {{ form.change_password(class="btn btn-primary") }}
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}