{% extends 'forms.html' %}

{% block title %} Sign Up {% endblock %}

{% block body %}

<section class="base" id="base-signup">
    <div class="base-content">
        <div class="form">

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show my-2"
                role="alert" style="font-size: 14px; padding: 8px 12px;">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    style="padding: 10px;"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <h3>
                Create an account <br> to shop
            </h3>

            <hr class="first">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="email mb-3">
                    <h4 class="form-label">Email Address</h4>
                    {{ form.email(class="form-control") }}
                </div>

                <div class="name mb-3">
                    <h4 class="form-label">First Name</h4>
                    {{ form.first_name(class="form-control") }}
                </div>

                <div class="name mb-3">
                    <h4 class="form-label">Last Name</h4>
                    {{ form.last_name(class="form-control") }}
                </div>

                <div class="name mb-3">
                    <h4 class="form-label">Phone Number</h4>
                    {{ form.phone_number(class="form-control") }}
                </div>

                <div class="name mb-3">
                    <h4 class="form-label">ID Number</h4>
                    {{ form.id_number(class="form-control") }}
                </div>

                <div class="password mb-3">
                    <h4 class="form-label">Password</h4>
                    {{ form.password1(class="form-control") }}
                </div>

                <div class="password mb-3">
                    <h4 class="form-label">Confirm Password</h4>
                    {{ form.password2(class="form-control") }}
                </div>

                <div class="buttons d-flex justify-content-between align-items-center mt-4">
                    {{ form.submit(class="btn btn-primary") }}
                    <a href="{{ url_for('auth.login') }}" class="text-decoration-none">Login</a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}